img{
	width: 100%;
}
.slider{
	position: relative;
}
.slider img{
	position: absolute;
}
.tagline{
	position: relative;
}
.tagline span{
	position: absolute;
	top:280px;
	font-size: 50;
	color: #fff;
	text-shadow: 10px;
	background: rgba(0, 0, 0,0.5);
	padding: 20px 0px;
	width: 100%;
}
.header{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	background: rgba(255,255,255,1);
	width: 100%;
	padding: 20px;
	color:#555;
	font-size: 18;
}
.logo{
	font-size: 20;
	display: inline-block;
}
.text{
	width: 80%;
	margin: 0 auto;
}
.menu ul{
	list-style-type: none;
}
.menu ul li{
	float: left;
	margin-right: 25px;
}
.menu ul li a{
	display: inline-block;
	text-decoration: none;
	color: inherit;
	padding: 10px 15px;
}
.menu ul li a:hover{
	background: #049dee;
	border-radius: 10px;
	color: #fff;
}
input{
	height: 34px;
}
.form-control{
	display: block;
	width: 100%;
	padding: 6px 12px;
}
.panel{
	margin-right: 10px;
}
.panel-header{
	padding: 10px 15px;
	font-weight: bold;
}
.panel-main{
	border-bottom: 1px solid #049dee;
	font-size: 20;
	text-align: center;
	color: #049dee;
}
.panel-body{
	padding: 15px 15px;
	text-align: justify;
}
.box{
	border: 1px solid #bbb;
	margin-right: 10px;
	margin-bottom: 10px;
}
.box:hover{
	opacity: 0.5;
}
.space{
	padding-top: 40px;
}